*.pyc
*.csv
.idea/
compute_state_features_luca.py
test_umbi.py

.ipynb_checkpoints/

model_file/

template_polimi/chapters/abstract.aux

template_polimi/chapters/chapter1.aux

template_polimi/chapters/chapter2.aux

template_polimi/chapters/chapter4.aux

template_polimi/chapters/chapter4.log

template_polimi/chapters/chapter5.aux

template_polimi/chapters/chapter6.aux

template_polimi/chapters/chapter7.aux

template_polimi/chapters/chapter8.aux

template_polimi/chapters/frontispiece.aux

template_polimi/chapters/sommario.aux

template_polimi/thesis.aux

template_polimi/thesis.lof

template_polimi/thesis.log

template_polimi/thesis.lot

template_polimi/thesis.out

template_polimi/thesis.toc

*.npy
